h1 {

color:rgb(156, 64, 64);
}

*{
/* margin: 70px;
padding: 60px; */
box-sizing: border-box;
font-family:"Goudy";
}

nav {
display: flex;
width:100%;
justify-content:space-between;
padding: 30px;

}


ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 25px;
}

main {
    padding-left: 30px;
}

footer {
    padding-left: 30px;
}

.Title{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 100px;
}